<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <%= link_to "Project", projects_path %>
    </li>
    <li class="is-active">

      <%= link_to @project.name, project_path(@project) %>
    </li>
  </ul>
</nav>

<%= render "projects/header", project: @project %>

<table class="table is-fullwidth is-stripped">
  <thead>
  <tr>
    <th style="width: 4rem;"></th>
    <th>Name</th>
  </tr>
  </thead>

  <%= render partial: "projects/task", locals: { project: @project }, collection: @project.tasks %>

  <tfoot>
  <tr>
    <th>
      <span class="tag is-info"><%= @project.tasks.completed.count %>
        / <%= @project.tasks.count %> </span>
    </th>
    <th>
    </th>
  </tr>
  </tfoot>
</table>


